extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/forms.css")
  link(rel="stylesheet", href="/css/auth.css")


block content
  if errorMessage
    p.user-message.user-message__error #{errorMessage}
  form.login-form(
    action="/login",
    method="post",
    autocomplete="off"
  )
    input(type="hidden", name="_csrf", value=(csrfToken))
    .form-control
      label(for="email") Email
      input#email(type="email", name="email")
    .form-control
      label(for="password") Password
      input#password(type="password", name="password")
    button.btn(type="submit") Login
